@model WebApplication1.ViewModels.Products.CreateProductVM
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Slide</h4>

                <form asp-action="Create" class="forms-sample" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="PrimaryPhoto">Primary Image</label>
                        <input asp-for="PrimaryPhoto" accept="image/*" type="file" class="form-control">
                        <span asp-validation-for="PrimaryPhoto" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SecondaryPhoto">Secondary Image</label>
                        <input asp-for="SecondaryPhoto" accept="image/*" type="file" class="form-control">
                        <span asp-validation-for="SecondaryPhoto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AdditionalPhotos">Additional Images</label>
                        <input asp-for="AdditionalPhotos" accept="image/*" type="file" class="form-control" multiple>
                        <span asp-validation-for="AdditionalPhotos" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" type="text" class="form-control" placeholder="Price">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SKU">SKU</label>
                        <input asp-for="SKU" type="text" class="form-control" placeholder="SKU">
                        <span asp-validation-for="SKU" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories,nameof(WebApplication1.Models.Category.Id),nameof(WebApplication1.Models.Category.Name)))">
                            <option selected disabled value="">Choose Category</option>

                        </select>

                        @*<select asp-for="CategoryId" class="form-control">
                <option selected disabled value="">Choose Category</option>
                @foreach (Category category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>*@
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TagIds">Tags</label>
                        <select asp-for="TagIds" class="form-control" asp-items="@(new SelectList(Model.Tags,nameof(WebApplication1.Models.Tag.Id),nameof(WebApplication1.Models.Tag.Name)))">
                        </select>


                        <span asp-validation-for="TagIds" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
